In [1]:
# Creating csv with all pizza information Dominos

In [1]:
from itertools import combinations_with_replacement
from itertools import product
import pandas as pd

In [2]:
# Dominos Data

flavor_list = [
        "3 Queijos","Frango com Requeijão","Calabresa","Corn & Bacon","Pizza de Queijo","Margherita",
        "Pepperoni","Presunto","Napolitana","América","4 Queijos","Bauru","Búfala La Bianca","Calabresa Especial",
        "Catuperoni","Egg & Bacon","Frango com Cream Cheese","Frango Grelhado","Pepperrock","Portuguesa",
        "Veggie®","Extravaganzza®","Meat & Bacon","Frango com Barbecue"
]


size_doughs = [
    ["Brotinho","Tradicional"],
    ["Média","Tradicional"] ,
    ["Grande","Tradicional"] ,
    ["Giga","Tradicional"] ,
    ["Grande","Finissima"] ,
    ["Média","Fina"] ,
    ["Grande","Fina"] ,
    ["Giga","Fina"] ,
    ["Média","Pan"]
]

In [3]:
# Make it easier in the next steps
flavor_list.reverse()

print('Length of Flavors', len(flavor_list))

Length of Flavors 24

In [4]:
# Create all posible combinations of pizza flavors
combinations = combinations_with_replacement(flavor_list, 2)
all_flavors = []
for x in combinations:
    all_flavors.append(list(x))

In [5]:
# Create all possible combinations of Sizes, Doughs and Flavors
combinations2 = product(size_doughs, all_flavors)

In [6]:
rows = []
for i in combinations2:
    rows.append(list(i))

In [7]:
clean_rows = []
for row in rows:
    clean_rows.append([x for r in row for x in r])

In [8]:
clean_rows[:5]

[['Brotinho', 'Tradicional', 'Frango com Barbecue', 'Frango com Barbecue'],
 ['Brotinho', 'Tradicional', 'Frango com Barbecue', 'Meat & Bacon'],
 ['Brotinho', 'Tradicional', 'Frango com Barbecue', 'Extravaganzza®'],
 ['Brotinho', 'Tradicional', 'Frango com Barbecue', 'Veggie®'],
 ['Brotinho', 'Tradicional', 'Frango com Barbecue', 'Portuguesa']]

In [9]:
cols = ['Size', 'Dough', 'MainFlavor', 'SecondFlavor']

In [10]:
df = pd.DataFrame(clean_rows, columns=cols)
df.head()

       Size        Dough           MainFlavor         SecondFlavor
0  Brotinho  Tradicional  Frango com Barbecue  Frango com Barbecue
1  Brotinho  Tradicional  Frango com Barbecue         Meat & Bacon
2  Brotinho  Tradicional  Frango com Barbecue       Extravaganzza®
3  Brotinho  Tradicional  Frango com Barbecue              Veggie®
4  Brotinho  Tradicional  Frango com Barbecue           Portuguesa

In [11]:
type_Especialidades = ["3 Queijos","Frango com Requeijão","Calabresa","Corn & Bacon","Pizza de Queijo","Margherita","Pepperoni","Presunto","Napolitana"]
type_premium = ["América","4 Queijos","Bauru","Búfala La Bianca","Calabresa Especial","Catuperoni","Egg & Bacon","Frango com Cream Cheese"]
type_superpremium = ["Frango Grelhado","Pepperrock","Portuguesa","Veggie®","Extravaganzza®","Meat & Bacon","Frango com Barbecue"]

In [12]:
x = df.MainFlavor.copy()

In [13]:
x.replace(type_Especialidades, 'Especialidade', inplace=True)
x.replace(type_premium, 'Premium', inplace=True)
x.replace(type_superpremium, 'Super Premium', inplace=True)

In [14]:
df['typeFlavor'] = x

In [15]:
df.head()

,Size,Dough,MainFlavor,SecondFlavor,typeFlavor
0,Brotinho,Tradicional,Frango com Barbecue,Frango com Barbecue,Super Premium
1,Brotinho,Tradicional,Frango com Barbecue,Meat & Bacon,Super Premium
2,Brotinho,Tradicional,Frango com Barbecue,Extravaganzza®,Super Premium
3,Brotinho,Tradicional,Frango com Barbecue,Veggie®,Super Premium
4,Brotinho,Tradicional,Frango com Barbecue,Portuguesa,Super Premium

In [16]:
cols = ['Size', 'Dough', 'typeFlavor']
df['price'] = df[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [17]:
df.typeFlavor.unique()

array(['Super Premium', 'Premium', 'Especialidade'], dtype=object)

In [18]:
df.head()

,Size,Dough,MainFlavor,SecondFlavor,typeFlavor,price
0,Brotinho,Tradicional,Frango com Barbecue,Frango com Barbecue,Super Premium,Brotinho_Tradicional_Super Premium
1,Brotinho,Tradicional,Frango com Barbecue,Meat & Bacon,Super Premium,Brotinho_Tradicional_Super Premium
2,Brotinho,Tradicional,Frango com Barbecue,Extravaganzza®,Super Premium,Brotinho_Tradicional_Super Premium
3,Brotinho,Tradicional,Frango com Barbecue,Veggie®,Super Premium,Brotinho_Tradicional_Super Premium
4,Brotinho,Tradicional,Frango com Barbecue,Portuguesa,Super Premium,Brotinho_Tradicional_Super Premium

In [19]:
dic_prizes = {
    "Brotinho_Tradicional_Super Premium" : 34.90,
    "Brotinho_Tradicional_Premium" : 31.90,
    "Brotinho_Tradicional_Especialidade" : 28.90,

    "Média_Tradicional_Super Premium" : 72.90,
    "Média_Tradicional_Premium" : 66.90,
    "Média_Tradicional_Especialidade" : 60.90,

    "Grande_Tradicional_Super Premium" : 84.90,
    "Grande_Tradicional_Premium" : 77.90,
    "Grande_Tradicional_Especialidade" : 70.90,

    "Giga_Tradicional_Super Premium" : 93.90,
    "Giga_Tradicional_Premium" : 85.90,
    "Giga_Tradicional_Especialidade" : 78.90,

    "Grande_Finissima_Super Premium" : 62.90, 
    "Grande_Finissima_Premium" : 57.90, 
    "Grande_Finissima_Especialidade" : 52.90, 

    "Média_Fina_Super Premium" : 72.90, 
    "Média_Fina_Premium" : 66.90, 
    "Média_Fina_Especialidade" : 60.90, 

    "Grande_Fina_Super Premium" : 84.90, 
    "Grande_Fina_Premium" : 77.90, 
    "Grande_Fina_Especialidade" : 70.90, 

    "Giga_Fina_Super Premium" : 93.90, 
    "Giga_Fina_Premium" : 85.90, 
    "Giga_Fina_Especialidade" : 78.90, 

    "Média_Pan_Super Premium" : 62.90, 
    "Média_Pan_Premium" : 57.90, 
    "Média_Pan_Especialidade" : 52.90 

}

In [20]:
df['price'] = df['price'].map(dic_prizes)

In [21]:
df.head()

,Size,Dough,MainFlavor,SecondFlavor,typeFlavor,price
0,Brotinho,Tradicional,Frango com Barbecue,Frango com Barbecue,Super Premium,34.9
1,Brotinho,Tradicional,Frango com Barbecue,Meat & Bacon,Super Premium,34.9
2,Brotinho,Tradicional,Frango com Barbecue,Extravaganzza®,Super Premium,34.9
3,Brotinho,Tradicional,Frango com Barbecue,Veggie®,Super Premium,34.9
4,Brotinho,Tradicional,Frango com Barbecue,Portuguesa,Super Premium,34.9

In [38]:
df.tail()

,Size,Dough,MainFlavor,SecondFlavor,typeFlavor,price
2695,Média,Pan,Calabresa,Frango com Requeijão,Especialidade,52.9
2696,Média,Pan,Calabresa,3 Queijos,Especialidade,52.9
2697,Média,Pan,Frango com Requeijão,Frango com Requeijão,Especialidade,52.9
2698,Média,Pan,Frango com Requeijão,3 Queijos,Especialidade,52.9
2699,Média,Pan,3 Queijos,3 Queijos,Especialidade,52.9

In [39]:
df.to_csv('Pizza.csv')

In [22]:
indexes = [45,None,456,None,None,789,80,2000,1700,None,1,6,None,67,89,59,1298,489,None,374,1537,1489,935,199,None,9,90,2000,2003,789,1090,None,620,56,1286,1070,2070,1670,None,12,689,1400,472,990,None,2035,722,2555,2300,768,None,23,26,555,None,1899,65,None,689]

In [31]:
indexes2 = [None,28,None,None,None,None,None,None,None,None,None,None,20,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,2,None,None,None,None,None,None,None,None,None,None,None,None,1,None,None,None,None,None,2,None,None,None,2,None,None,None,None]

In [34]:
indexes3 = [None,None,None,10,10,None,None,None,None,1,None,None,None,None,None,None,None,None,15,None,None,None,None,None,5,None,None,None,None,None,None,None,None,None,None,None,None,None,15,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,5,None]

In [29]:
prices = []
for i in indexes:
    try:
        df.price[i]
        prices.append(df.price[i])
    except:
        prices.append('0')

In [32]:
prices = []
for i in indexes2:
    try:
        df.price[i]
        prices.append(df.price[i])
    except:
        prices.append('0')

In [35]:
prices = []
for i in indexes3:
    try:
        df.price[i]
        prices.append(df.price[i])
    except:
        prices.append('0')

# Helper (Create orders)

In [37]:

restaurants = [
    "Rio de Janeiro",
    "Niteroi",
    "Sao Paulo",
    "Belo Horizonte",
    "Vitoria"
]

customers = {
    "Rio de Janeiro" : [1,2,3,4,5],
    "Niteroi" : [6,7,15,19],
    "Sao Paulo" : [8,9,14,13,20],
    "Belo Horizonte"  : [10,11,12],
    "Vitoria" : [16,17,18]
}

staffs = {
    "Rio de Janeiro" : 6,
    "Niteroi" : 12,
    "Sao Paulo" : 18,
    "Belo Horizonte"  : 24,
    "Vitoria" : 30
}

possible_max_range = {
    "bev" : 29,
    "non" : 16,
    "pizza" : 2700
}




# Make order

# Give city number
    # get city name from list
    # rest_id = city_number
# Give user_id ... check if is in customersdict
    # staff_id = staffs[city_name]
    # ord_id = i

In [ ]:
def makeOrder(i):
    row = {}
    row["ord_id"] = i
    city_id = int(input('Give City ....'))
    row["rest_id"] = city_id + 1
    city_name = restaurants[city_id]
    row["staff_id"] = staffs[city_name]
    print(city_name)
    print("available users : ", customers[city_name])
    while True:
        user_id = int(input("Give user id")) 
        if user_id in customers[city_name]:
            row["cust_id"] = user_id
            break
        else:
            print('Wrong User')


    print("WOW TIME TO SELECT ITEMS YOU WANT")

    #print("GIVE CUPOM")
    #cupom_id  = int(input('Max value 15 CUPOM'))
    #print("GIVE Final Price")
    #price = float(('Give final Price'))
    #print("GIVE OrderType")
    #orderType = input('OrderType DELIVER OR PRESENCIAL')
    #print("GIVE PaymentMethod")
    #paymentType = input('PaymentMethod Card OR Card')
    #print("GIVE StartDate")
    #start_date = input('Give random time')
    #print("GIVE DeliverDate")
    #Deliver_date = input('Give random time')

    return row

In [ ]:
def askOrder(ord_id):
    while True:
        row_orderItem = {}
        row_orderItem['ord_id'] = ord_id
        
        print("Options bev, non AND pizza")
        orderType = input('Give orderType ...')
        print("Give ID of ITEM type", orderType, "\n The max value is ", possible_max_range[orderType])

        itemId = int(input("Give ID"))

        if orderType == "bev":
            row_orderItem['beverage_id'] = itemId
            row_orderItem['pizza_id'] = None
            row_orderItem['nonpizza_id'] = None

        elif orderType == "non":
            row_orderItem['nonpizza_id'] = itemId
            row_orderItem['pizza_id'] = None
            row_orderItem['beverage_id'] = None

        else:
            row_orderItem['pizza_id'] = itemId
            row_orderItem['beverage_id'] = None
            row_orderItem['nonpizza_id'] = None


        print("Select the amount of this item")
        quantity = int(input("Give me the amount you want"))
        row_orderItem['quantity'] = quantity

        x = input("You want more items ??? y ?")
        print(row_orderItem)
        if x != "y":
            break